appdirs==1.4.3
certifi==2018.1.18
chardet==3.0.4
decorator==4.2.1
dogpile.cache==0.6.4
futures==3.2.0
idna==2.6
ipaddress==1.0.19
iso8601==0.1.12
jmespath==0.9.3
jsonpatch==1.21
jsonpointer==2.0
keystoneauth1==3.4.0
munch==2.2.0
netifaces==0.10.6
os-client-config==1.29.0
pbr==3.1.1
pystache==0.5.4
PyYAML==3.12
requests==2.18.4
requestsexceptions==1.4.0
shade==1.26.0
six==1.11.0
stevedore==1.28.0
urllib3==1.24.2
virtualenv==15.1.0
